[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/zsh/plugins/zsh-syntax-highlighting"]
	path = dotfiles/config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/config/zsh/plugins/powerlevel10k"]
	path = dotfiles/config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
