[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/zsh/plugins/zsh-syntax-highlighting"]
	path = dotfiles/config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/config/zsh/plugins/powerlevel10k"]
	path = dotfiles/config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dotfiles/config/zsh/plugins/zsh-autosuggestions"]
	path = dotfiles/config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dotfiles/config/zsh/plugins/asdf"]
	path = dotfiles/config/zsh/plugins/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "dotfiles/config/zsh/plugins/zsh-completions"]
	path = dotfiles/config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/catppuccin"]
	path = dotfiles/config/nvim/pack/plugins/opt/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/lualine"]
	path = dotfiles/config/nvim/pack/plugins/opt/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/nvim-lspconfig"]
	path = dotfiles/config/nvim/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "dotfiles/config/nvim/pack/plugins/opt/nvim-cmp"]
	path = dotfiles/config/nvim/pack/plugins/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "dotfiles/config/nvim/pack/plugins/opt/cmp-nvim-lsp"]
	path = dotfiles/config/nvim/pack/plugins/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "dotfiles/config/nvim/pack/plugins/opt/nvim-treesitter"]
	path = dotfiles/config/nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/vim-sleuth"]
	path = dotfiles/config/nvim/pack/plugins/opt/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/gitsigns.nvim"]
	path = dotfiles/config/nvim/pack/plugins/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/vim-vsnip"]
	path = dotfiles/config/nvim/pack/plugins/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "dotfiles/config/nvim/pack/plugins/opt/which-key.nvim"]
	path = dotfiles/config/nvim/pack/plugins/opt/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
