font:
  size: 10.0
  normal:
    family: Source Code Pro

schemes:
  gruvbox_light: &gruvbox_light
    primary:
      background: '#fbf1c7'
      foreground: '#3c3836'

    normal:
      black:   '#fbf1c7'
      red:     '#cc241d'
      green:   '#98971a'
      yellow:  '#d79921'
      blue:    '#458588'
      magenta: '#b16286'
      cyan:    '#689d6a'
      white:   '#7c6f64'

    bright:
      black:   '#928374'
      red:     '#9d0006'
      green:   '#79740e'
      yellow:  '#b57614'
      blue:    '#076678'
      magenta: '#8f3f71'
      cyan:    '#427b58'
      white:   '#3c3836'

    indexed_colors:
      - { index: 234, color: '#1d2021' }
      - { index: 235, color: '#282828' }
      - { index: 236, color: '#32302f' }
      - { index: 237, color: '#3c3836' }
      - { index: 239, color: '#504945' }
      - { index: 241, color: '#665c54' }
      - { index: 243, color: '#7c6f64' }
      - { index: 245, color: '#928374' }
      - { index: 244, color: '#928374' }
      - { index: 230, color: '#f9f5d7' }
      - { index: 229, color: '#fbf1c7' }
      - { index: 228, color: '#f2e5bc' }
      - { index: 223, color: '#ebdbb2' }
      - { index: 250, color: '#d5c4a1' }
      - { index: 248, color: '#bdae93' }
      - { index: 246, color: '#a89984' }
      - { index: 167, color: '#fb4934' }
      - { index: 142, color: '#b8bb26' }
      - { index: 214, color: '#fabd2f' }
      - { index: 109, color: '#83a598' }
      - { index: 175, color: '#d3869b' }
      - { index: 108, color: '#8ec07c' }
      - { index: 208, color: '#fe8019' }
      - { index: 124, color: '#cc241d' }
      - { index: 106, color: '#98971a' }
      - { index: 172, color: '#d79921' }
      - { index:  66, color: '#458588' }
      - { index: 132, color: '#b16286' }
      - { index:  72, color: '#689d6a' }
      - { index: 166, color: '#d65d0e' }
      - { index:  88, color: '#9d0006' }
      - { index: 100, color: '#79740e' }
      - { index: 136, color: '#b57614' }
      - { index:  24, color: '#076678' }
      - { index:  96, color: '#8f3f71' }
      - { index:  66, color: '#427b58' }
      - { index: 130, color: '#af3a03' }

  gruvbox_dark: &gruvbox_dark
    primary:
      background: '#282828'
      foreground: '#ebdbb2'

    normal:
      black:   '#282828'
      red:     '#cc241d'
      green:   '#98971a'
      yellow:  '#d79921'
      blue:    '#458588'
      magenta: '#b16286'
      cyan:    '#689d6a'
      white:   '#a89984'

    bright:
      black:   '#928374'
      red:     '#fb4934'
      green:   '#b8bb26'
      yellow:  '#fabd2f'
      blue:    '#83a598'
      magenta: '#d3869b'
      cyan:    '#8ec07c'
      white:   '#ebdbb2'

    indexed_colors:
      - { index: 234, color: '#1d2021' }
      - { index: 235, color: '#282828' }
      - { index: 236, color: '#32302f' }
      - { index: 237, color: '#3c3836' }
      - { index: 239, color: '#504945' }
      - { index: 241, color: '#665c54' }
      - { index: 243, color: '#7c6f64' }
      - { index: 245, color: '#928374' }
      - { index: 244, color: '#928374' }
      - { index: 230, color: '#f9f5d7' }
      - { index: 229, color: '#fbf1c7' }
      - { index: 228, color: '#f2e5bc' }
      - { index: 223, color: '#ebdbb2' }
      - { index: 250, color: '#d5c4a1' }
      - { index: 248, color: '#bdae93' }
      - { index: 246, color: '#a89984' }
      - { index: 167, color: '#fb4934' }
      - { index: 142, color: '#b8bb26' }
      - { index: 214, color: '#fabd2f' }
      - { index: 109, color: '#83a598' }
      - { index: 175, color: '#d3869b' }
      - { index: 108, color: '#8ec07c' }
      - { index: 208, color: '#fe8019' }
      - { index: 124, color: '#cc241d' }
      - { index: 106, color: '#98971a' }
      - { index: 172, color: '#d79921' }
      - { index:  66, color: '#458588' }
      - { index: 132, color: '#b16286' }
      - { index:  72, color: '#689d6a' }
      - { index: 166, color: '#d65d0e' }
      - { index:  88, color: '#9d0006' }
      - { index: 100, color: '#79740e' }
      - { index: 136, color: '#b57614' }
      - { index:  24, color: '#076678' }
      - { index:  96, color: '#8f3f71' }
      - { index:  66, color: '#427b58' }
      - { index: 130, color: '#af3a03' }


colors: *{{ snakecase .colorscheme }}
